SOPORTE_DB_URL=jdbc:mysql://RDS_HOST:3306/erp_cloud?useSSL=true&serverTimezone=UTC
SOPORTE_DB_USERNAME=app_soporte
SOPORTE_DB_PASSWORD=replace_with_a_rotated_secret
AZURE_ISSUER_URI=https://login.microsoftonline.com/TENANT_ID/v2.0
AZURE_API_AUDIENCE=API_CLIENT_ID
